<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.automatica.AXCMP"
    >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".c_Carrito_Surtido.act_Surt_Carrito"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Principal.PictureActivity"
            android:label="@string/title_activity_picture"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Principal.Login"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Principal.Inicio_Menu_Dinamico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Principal.Inicio_Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Servicios.preferencias"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Consultas.Consultas_Menu_Dinamico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Consultas.consultas_BusquedaExistencia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Consultas.consultas_ConsultaEmpaque"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Consultas.consultas_C|onsultaPallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Consultas.Consultas_PalletV2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Consultas.consultas_ConsultaPosicion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Consultas.consultas_ConsultaReferencia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Menu_Dinamico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Colocar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Reubicar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Transferencia.Transferencia_Envio.Alm_Registro_Seleccion_Lote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.devolucion.Almacen_Devolucion_Linea"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.devolucion.Almacen_Devolucion_Proveedor_Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.devolucion.Almacen_Devolucion_Proveedor_Pallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.devolucion.Almacen_Devolucion_Proveedor_Empaque"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Ajustes.Almacen_Ajustes_Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Ajustes.Almacen_Ajustes_AjustePallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Ajustes.Almacen_Ajustes_BajaEmpaque"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Ajustes.Almacen_Ajustes_BajaPallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Ajustes.Almacen_Ajustes_NuevoEmpaque"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Cuarentena.Almacen_Cuarentena_Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Cuarentena.Almacen_Cuarentena_Marcar_Pallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Cuarentena.Almacen_Cuarentena_Marcar_Empaque"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Cuarentena.Almacen_Cuarentena_Baja"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Cuarentena.Almacen_Cuarentena_Recuperacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Transferencia.Almacen_Transferencias_Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Transferencia.Transferencia_Envio.Almacen_Transferencia_Envio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Transferencia.Transferencia_Recibo.Almacen_Transferencia_Recibo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Transferencia.Transferencia_Envio.Almacen_Transferencia_Menu_Decision"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Transferencia.Transferencia_Envio.Almacen_Transferencia_Surtir_Pallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Transferencia.Transferencia_Envio.Almacen_Transferencia_SurtirEmpaque"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Transferencia.Transferencia_Recibo.Almacen_Transferencia_SeleccionEntrada"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Registro_Pallets_Produccion.Almacen_Registro_Pallets_Produccion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Registro_Pallets_Produccion.Almacen_Registro_Pallets_Registro_Sobrante"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Armado_Pallets.Almacen_Armado_Tarima_Subensambles"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Devolucion_Proveedor.Devolucion_Seleccion_Tipo_Devolucion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Devolucion_Proveedor.Devolucion_Empaque"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Devolucion_Proveedor.Devolucion_Pallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen_Devolucion_Proveedor.Devolucion_Seleccion_Documento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Inventarios.CiclicosPorProducto.Inventarios_PorProducto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Inventarios.Inventario_RegPalletNuevo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Inventarios.Inventarios_CiclicoPorLote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Inventarios.Inventarios_CiclosPosicionReg"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Inventarios.Inventarios_ConfirmarEmpaque"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Inventarios.Inventarios_Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Inventarios.Inventarios_InventiarioCiclicoPorPosicionDet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.Rec_Registro_Seleccion_OC"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.c_Recepcion_Transferencias_Piasa.Rec_Traspaso_Con_Etiquetas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.Recepcion_Menu_Tipo_Recepcion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Envios_Maquila.Almacen_Registro_Seleccion_Envio_Maquila"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Envios_Maquila.Almacen_Registro_Seleccion_Tipo_Envio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Envios_Maquila.Almacen_Envio_Maquila_Envio_Empaque"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Envios_Maquila.Almacen_Envio_Maquila_Envio_Pallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.Rec_Registro_Seleccion_Partida"
            android:label="@string/recepcion_recepcion_oc"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.Recepcion_Menu_Registro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.Recepcion_Registro_PorEmpaque"
            android:label="@string/recepcion_recepcion_oc"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.Recepcion_Registro_PrimerasYUltimas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.Recepcion_Registro_PrimerasYUltimas_Spinner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Almacen.Almacen.Almacen_Reg_Transferencia_Seleccion_Partida"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Surtido.Surtido_Pedidos.Surtido_Surtido_Empaque"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Surtido.Surtido_Valida"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Surtido.Surtido_Pedidos.Surtido_Surtido_Pallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.Recepcion_Registro_PorEmpaque_Spinner"
            android:label="@string/recepcion_recepcion_por_empaque_proveedor" />
        <activity
            android:name=".c_Surtido.Surtido_Pedidos.Surtido_Menu_Registro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Surtido.Surtido_Pedidos.Surtido_Seleccion_Partida"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Surtido.Surtido_Pedidos.Surtido_Docificacion_Pedidos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Surtido.Surtido_Ajuste_Docificacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.c_Recepcion_Transferencias_Piasa.Recepcion_Registro_Transferencia_PrimeraYUltima"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.c_Recepcion_Transferencias_Piasa.Recepcion_Registro_Transferencias_Por_Empaque"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.c_Recepcion_Transferencias_Piasa.Rec_Registro_Seleccion_Lote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.c_Recepcion_Transferencias_Piasa.Recepcion_Menu_Transferencia_Etiquetas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Recepcion.c_Recepcion_Transferencias_Piasa.Recepcion_Menu_Transferencia_Tipo_Recepcion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Surtido.Surtido_Bascula.Bascula_Pesaje"
            android:label="@string/title_activity_prueba_bascula"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Surtido.Surtido_Menu_Dinamico"
            android:label="@string/title_activity_prueba_bascula"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Surtido.Surtido_Bascula.Surtido_Seleccion_Registro_Partida"
            android:label="@string/title_activity_prueba_bascula"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Surtido.Surtido_Bascula.Surtido_Menu_Docificacion"
            android:label="@string/title_activity_prueba_bascula"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Surtido.Surtido_Bascula.Surtido_Docificacion_PorEmpaque"
            android:label="@string/title_activity_prueba_bascula"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Surtido.Surtido_Bascula.Surtido_Docificacion"
            android:label="@string/title_activity_prueba_bascula"
            android:screenOrientation="portrait" />
        <activity
            android:name=".c_Surtido.Surtido_Entrega"
            android:label="@string/title_activity_prueba_bascula"
            android:screenOrientation="portrait" />
        <activity android:name=".c_Consultas.Consultas_EmpaqueV2" />
        <activity android:name=".c_Surtido.Surtido_ReimpresionEtiqueta" />
        <activity android:name=".c_Almacen.Almacen_Transferencia.Transferencia_Envio.Almacen_Traspaso_Docificado" />
        <activity android:name=".c_Almacen.Almacen_Transferencia.Transferencia_Envio.Almacen_Transferencia_SurtirUnidad" />
        <activity android:name=".c_Almacen.Almacen_Colocar_Prueba_FAB" />
        <activity android:name=".cIncidencia.Incidencia" />
        <activity android:name=".PruebaRobert.Surtido_PruebaVoz" />
        <activity android:name=".c_Carrito_Surtido.act_Surt_Carrito_Ordenes"
            android:screenOrientation="landscape" />
        <activity android:name=".c_Carrito_Surtido.act_Surtir_Ordenes_Seleccionadas" />
        <activity android:name=".Prueba_PENTAGONO" />
        <activity android:name=".c_Almacen.Almacen_Colocar_prb_FB" />
        <activity android:name=".MejorasAXC.ReabastecimientoPicking.ReabPK_Seleccion_Material" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>